# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# MongoDB
*.bson
*.json

# Compiled output
frontend/dist/
frontend/tmp/
frontend/out-tsc/
frontend/bazel-out

# Node
frontend/node_modules/
frontend/npm-debug.log
frontend/yarn-error.log

# Nuxt
frontend/.nuxt
frontend/.output
frontend/.nitro

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
